@media screen and (max-width : 999px) and (min-width: 800px) {
    body {
    }
    /*header*/
    header, section, footer {
        margin-left: 2%;
        margin-right: 2%;
    }
    header{
        flex-direction: row;
    }
    nav{
        width: 100%;
    }
    #logo-header{
        margin-right: 2%;
    }
    #sign-div{
        margin-left: initial !important;
    }
    .nav-items{
        margin-right: 1%;
    }

    /*first section*/
    .first-section-image{
        width: 80vw;
        height: auto;
        margin-left: initial !important;
        margin-top: 20px;
        align-self: center;
    }

    .first-section-content, .first-section-title{
        width: initial !important;
        height: auto;
    }
    .first-section-title{
        line-height: 46px;
        font-size: calc(24px + (28 - 24) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .first-section-content{
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: calc(12px + (14 - 12) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .first-section-image{
        margin-left: initial !important;
        width: 55vw;
    }

    /*second section*/
    .second-section{
        flex-direction: row;
        padding-left: initial !important;
        padding-right: initial !important;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: space-around;
    }

    .second-section-element{
        padding: 0;
        justify-content: flex-start;
        align-self: center;
        margin: 5% 0%;
    }
    .borders{
        border: none;
    }
    .second-section-div{
        margin-left: 5%;
    }
    .second-section-values{
        font-size: calc(14px + (16 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .second-section-of{
        font-size: calc(12px + (14 - 12) * ( (100vw - 480px) / ( 1024 - 480) ));
    }

    /*third-section*/

    .third-section{
         flex-direction: row;
         justify-content: space-around;
     }
    .fourth-section{

    }
    /*fifth-section*/
    .map-image{
        width: 95vw;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sn-images{
        justify-content: center;
    }
    .sn-image{
        width: 20vw;
        height: auto;
    }

    /*seventh-section*/
    .seventh-section{
        flex-direction: column;
        padding-left: initial !important;
        padding-right: initial !important;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .seventh-section-title{
        text-align: center;
        width: initial !important;
        height: auto;
    }
    .seventh-section-content{
        text-align: center;
        width: initial !important;
        height: auto;
        margin-top: 10px;
    }
    .seventh-section-div{
        margin-bottom: 10px;
    }
    /*footer*/

    footer{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .hidden{
        display: none;
    }
    .footer-title{
        width: initial !important;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 10px;
        pointer-events: auto;
    }
    .footer-content{
        text-align: center;
        width: initial !important;
        height: auto;
    }
    .sm-logos{
        justify-content: center;
        margin: initial !important;
    }
    .sm-logo{
        margin: initial !important;
    }
    .links-list{
        align-items: center;
    }
    .footer-title {
        line-height: 25px;
        font-size: calc(14px + (16 - 14) * ((100vw - 480px) / (1024 - 480)));
    }
    .general-part-footer{
        margin-top: 10px;
    }
    .other-footers{
        min-width: 100%;
        justify-content: space-around;
    }
    .copyright-text{
        margin-top: -20px;
        text-align: center;
    }
    .logo-text{
        width: initial !important;
        height: initial !important;
        margin-left: 10px;
    }
}