@media screen and (max-width : 999px) and (min-width: 800px) {
    body {
    }
    /*header*/
    header, section {
        padding-left: 2%;
        padding-right: 2%;
    }
    header{
        flex-direction: row;
    }
    nav{
        width: 100%;
    }
    #logo-header{
        margin-right: 2%;
    }
    #sign-div{
        margin-left: initial !important;
    }
    .nav-items{
        margin-right: 1%;
    }

    /*first section*/
    .first-section-image{
        width: 80vw;
        height: auto;
        margin-left: initial !important;
        margin-top: 20px;
        align-self: center;
    }

    .first-section-content, .first-section-title{
        width: initial !important;
        height: auto;
    }
    .first-section-title{
        line-height: 46px;
        font-size: calc(24px + (28 - 24) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .first-section-content{
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: calc(12px + (14 - 12) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .first-section-image{
        margin-left: initial !important;
        width: 55vw;
    }

    /*second section*/
    .second-section{
        flex-direction: row;
        padding-left: initial !important;
        padding-right: initial !important;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: space-around;
    }

    .second-section-element{
        padding: 0;
        justify-content: flex-start;
        align-self: center;
        margin: 5% 0%;
    }
    .borders{
        border: none;
    }
    .second-section-div{
        margin-left: 5%;
    }
    .second-section-values{
        font-size: calc(14px + (16 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .second-section-of{
        font-size: calc(12px + (14 - 12) * ( (100vw - 480px) / ( 1024 - 480) ));
    }

    /*third-section*/

    .third-section{
         flex-direction: row;
         justify-content: space-around;
     }
    .fourth-section{

    }

}