@media screen and (max-width : 999px) and (min-width: 800px) {
    body {
    }
    /*header*/
    header {
        flex-direction: row;
        padding-left: 2%;
        padding-right: 2%;
    }
    nav{
        width: 100%;
    }
    #logo-header{
        margin-right: 2%;
    }
    #sign-div{
        margin-left: initial !important;
    }
    .nav-items{
        margin-right: 1%;
    }

    /*first section*/
    .first-section{
        padding-left: 2%;
        padding-right: 2%;
    }
    .first-section-image{
        width: 80vw;
        height: auto;
        margin-left: initial !important;
        margin-top: 20px;
        align-self: center;
    }

    .first-section-content, .first-section-title{
        width: initial !important;
        height: auto;
    }
    .first-section-title{
        line-height: 46px;
        font-size: calc(24px + (28 - 24) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .first-section-content{
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: calc(12px + (14 - 12) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .first-section-image{
        margin-left: initial !important;
        width: 55vw;
    }
}