@media screen and (max-width : 1530px) and (min-width: 1300px) {
    body {
    }
    /*header*/
    header {
        flex-direction: row;
        padding-left: 8%;
        padding-right: 8%;
    }
    nav{
        width: 100%;
    }
    #logo-header{
        margin-right: 5%;
    }
    #sign-div{
        margin-left: initial !important;
    }
    .nav-items{
        margin-right: 2%;
    }
    /*first section*/
    .first-section{
        padding-left: 8%;
        padding-right: 8%;
    }
    .first-section-content, .first-section-title{
        width: initial !important;
        height: auto;
    }
    .first-section-title{
        line-height: 56px;
    }
    .first-section-content{
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .first-section-image{
        margin-left: initial !important;
        width: 55vw;
    }

    /*second-section*/

    .second-section{
        margin-left: 8%;
        margin-right: 8%;
        justify-content: center;
    }
    .second-section-element{
        padding: 30.3px 7% 30.3px 7%;
    }

    /*third-section*/

    .third-section{
        padding-left: 8%;
        padding-right: 8%;
        justify-content: space-between;
    }
}