*{
    margin: 0;
}
html{
    height: 100%;
    background: #F6F6F6;
}
body{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    justify-content: left;
    margin: 0;
}
header, section, footer{
    flex-direction: row;
    margin-left: 195px;
    margin-right: 195px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #F53855;
    transition: 0.7s;
}
button:hover {
    box-shadow: 10px 25px 25px #F53855;
    transition: 0.7s;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}
#hmt{
    display: none;
}
.hidden-burger{
    display: none;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    text-align: left;
    letter-spacing: 0.02em;
    margin-right: 40px;
}
#logo-header{
    display: flex;
    flex-direction: row;
    margin-right: 157px;
    align-items: center;
    justify-content: space-between;
    width: 149px;
    height: 36.23px;
}
.text-style{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    letter-spacing: 1px;
}
.logo-text{
    width: 104px;
    height: 24px;
    font-weight: bold;
}
.VPN{
    font-weight: bolder;

}
.selected{
    font-weight: 1100;
    color: #F53855;
}
header{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
    padding-top: 50px;
}
.logo{
    width: 35px;
    height: 36.23px;
}
button {
    background: #FFFFFF;
    border-color: transparent;
    border-radius: 50px;
    cursor: pointer;
}
#sign-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
}
.basic-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}
.basic-content{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}
#sign-in{
    margin-right: 29px;
}
.basic-buttons{
    width: 150px;
    height: 45px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
}
.first-section{
    display: flex;
    flex-direction: row;
    margin-top: 88.5px;
    margin-right: initial !important;
    padding-right: 125px;
}
.first-section-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-section-title{
    width: 555px;
    height: 140px;
    font-size: 50px;
    line-height: 70px;
    text-align: left;
}
.first-section-content{
    width: 555px;
    height: 60px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}
.basic-red-button{
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #FFFFFF;
    box-shadow: 0px 20px 102px 0px rgba(245, 56, 56, 0.35);
    border-radius: 10px;
}
.span-logo{
    font-weight: 700;
}
.first-section-image{
    width: 611.24px;
    height: 382.44px;
    margin-left: auto;
}

/*second section */

.second-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 105px;
    background: #FFFFFF;
    padding: initial !important;
    margin-left: 195px;
    margin-right: 195px;
}

.second-section-element{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 30.3px 120px 30.3px 95px;
    margin: 37.2px 0px;
}

.borders{
    border-right: 2px solid #EEEFF2;
}

.second-section-div{
    display: flex;
    flex-direction: column;
    margin-left: 36.5px;
}

.second-section-values{
    font-size: 25px;
    line-height: 30px;
    text-align: left;
}

.second-section-of{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.icon{
    width: 55px;
    height: 55px;
}

/*third-section*/

.third-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 136px;
    align-items: flex-end;
}
.third-section-image{
    width: 508.12px;
    height: 414.71px;
}
.third-section-div{
    width: 427.88px;
}
.third-section-title{
    width: 383.41px;
    height: 100px;
    text-align: left;
}
.third-section-content{
    text-align: left;
    height: 60px;
    margin: 20px 0;
}
ul{
    padding-left: 0;
}
li{
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    /*list-style-image: url("resources/icons/li-icon.svg");
    padding-inline-start: 0.5ch;*/
}
.third-section-div li{
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
}

.third-section-div li::before{
    box-sizing: border-box;
    content: '\2714';
    font-size: 14px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 12px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #2FAB73;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

/*fourth-section*/

.fourth-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourth-section-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fourth-section-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
 }
.fourth-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 760px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
}
.fourth-section-container-selected{
    border: 2px solid #F53838;
}
.fourth-section-container-image{
    margin-top: 79.63px;
    width: 144.9px;
    height: 165.37px;
}
.fourth-section-container li{
    text-align: left;
    padding-inline-start: 25.8px;
    margin-bottom: 10px;
    list-style-image: url("resources/icons/li-2.svg");
}
.plan-button{
    border: 2px solid #F53838;
    width: 177.88px;
    height: 45px;
    margin-bottom: 50px;
}
.plan-button-selected{
    background: #F53838;
    color: #FFFFFF;
    box-shadow: 0px 20px 102px 0px rgba(245, 56, 56, 0.35);
}
.fourth-section-title{
    width: 383.41px;
    height: 50px;
}
.fourth-section-content{
    width: 555px;
    height: 60px;
    text-align: center;
    margin-top: 20px;
}
.plan-div{
    display: flex;
    flex-direction: column;
}
.plan-title{
    font-size: 18px;
    line-height: 30px;
}
.plan-cost{
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
}
.gray-span {
    color: #4F5665;
    font-weight: 500;
}
/*fifth-section*/
.fifth-section{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.fifth-section-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fifth-section-title{
    width: 383.41px;
    height: 100px;
}
.fifth-section-content{
    width: 555px;
    height: 60px;
    margin-top: 20px;
}
.map-image{
    width: 1060px;
    height: 537.77px;
    margin-top: 155.8px;
    margin-bottom: 80.6px;
    align-self: center;
}
.sn-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*sixth-section*/
.sixth-section{
    padding-right: initial !important;
}
.sixth-section-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 195px;
}

.sixth-section-title{
    width: 447.81px;
    height: 100px;
}
.sixth-section-content{
    width: 555px;
    height: 60px;
}


/*slider*/
.container {
    border-radius: 50px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.slider{
}
ol{
    padding-inline-start: 0px;
}
li{
    margin: 0 5px;
}
.slider__content {
    display: flex;
    flex-direction: row;
}
.slider__content_section {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 12px;
    line-height: 1;
}
.slider__content_photo {
    display: flex;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.slider__content_author_information {
    display: flex;
    flex-direction: column;
}
.slider__content_author {
    font-size: 18px;
    line-height: 30px;
}
.slider__content_geolocation{
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    text-align: left;
}
.slider__content_opinion{
    height: 100px;
    text-align: left;
    color: #0B132A;
}
.slider__content_raiting{
    text-align: left;
}

.slider__control:hover,
.slider__control:focus {
    opacity: 1;
}

.slider__indicators {
    display: flex;
    justify-content: left;
    z-index: 15;
    list-style: none;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 230px;
    margin-top: 88px;
    background: #FFFFFF;
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 10px;
}
.rectangles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.title{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #212353;
}
.slider-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.arrows{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 240px;
}


/*seventh-section*/
.seventh-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 58.5px 70px;
    background-color: #FFFFFF;
    align-items: center;
}
.seventh-section-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seventh-section-title{
    width: 370px;
    height: 80px;
    text-align: left;
}
.seventh-section-content{
    width: 410px;
    height: 16px;
    text-align: left;
    margin-top: 20px;
}

/*footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 63.8px;
    padding-bottom: 100px;
}
.other-footers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50%;
}
.footer-title{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    width: 149px;
    height: 36.23px;
    margin-bottom: 10px;
}
.footer-content{
    margin-top: 20px;
    width: 340px;
    height: 61.57px;
    text-align: left;
}
.sm-logos{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
}
.sm-logo{
    margin-left: -20px;
}
.links-list{
    display: flex;
    flex-direction: column;
}
.footer-list-content{
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
}
.copyright-text{
    font-weight: 400;
    color: #AFB5C0;
    text-align: left;
}