*{
    margin: 0;
}
html{
    height: 100%;
    background: #F6F6F6;
}
body{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    justify-content: left;
    margin: 0;
}
header, section{
    flex-direction: row;
    padding-left: 195px;
    padding-right: 195px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #F53855;
    transition: 0.7s;
}
button:hover {
    box-shadow: 10px 25px 25px #F53855;
    transition: 0.7s;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}
#hmt{
    display: none;
}
.hidden-burger{
    display: none;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    text-align: left;
    letter-spacing: 0.02em;
    margin-right: 40px;
}
#logo-header{
    display: flex;
    flex-direction: row;
    margin-right: 157px;
    align-items: center;
    justify-content: space-between;
    width: 149px;
    height: 36.23px;
}
.text-style{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    letter-spacing: 1px;
}
.logo-text{
    width: 104px;
    height: 24px;
    font-weight: bold;
}
#VPN{
    font-weight: bolder;

}
.selected{
    font-weight: 1100;
    color: #F53855;
}
header{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
    padding-top: 50px;
}
.logo{
    width: 35px;
    height: 36.23px;
}
button {
    background: #FFFFFF;
    border-color: transparent;
    border-radius: 50px;
    cursor: pointer;
}
#sign-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
}
.bold-text{
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
}
#sign-in{
    margin-right: 29px;
}
.basic-buttons{
    width: 150px;
    height: 45px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
}
.first-section{
    display: flex;
    flex-direction: row;
    margin-top: 88.5px;
    padding-right: 125px;
}
.first-section-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-section-title{
    width: 555px;
    height: 140px;
    font-size: 50px;
    line-height: 70px;
}
.first-section-content{
    width: 555px;
    height: 60px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 20px;
    margin-bottom: 50px;
}
.first-section-button{
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #FFFFFF;
    box-shadow: 0px 20px 102px 0px rgba(245, 56, 56, 0.35);
    border-radius: 10px;
}
.span-f-s{
    color: #4F5665;
}
.first-section-image{
    width: 611.24px;
    height: 382.44px;
    margin-left: auto;
}

/*second section */

.second-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 105px;
    background: #FFFFFF;
    padding: initial !important;
    margin-left: 195px;
    margin-right: 195px;
}

.second-section-element{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 30.3px 120px 30.3px 95px;
    margin: 37.2px 0px;
}

.borders{
    border-right: 2px solid #EEEFF2;
}

.second-section-div{
    display: flex;
    flex-direction: column;
    margin-left: 36.5px;
}

.second-section-values{
    font-size: 25px;
    line-height: 30px;
}

.second-section-of{
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.icon{
    width: 55px;
    height: 55px;
}

/*third-section*/

.third-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 96px 0px 136px 0px;
    align-items: flex-end;
}
.third-section-image{
    width: 508.12px;
    height: 414.71px;
}
.third-section-div{
    width: 427.88px;
}
.third-section-title{
    width: 383.41px;
    height: 100px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}
.third-section-content{
    height: 60px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin: 20px 0;
}
ul{
    padding-left: 0;
}
li{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    /*list-style-image: url("resources/icons/li-icon.svg");
    padding-inline-start: 0.5ch;*/
}
.third-section-div li{
    list-style-type: none;
    margin-bottom: 10px;
}

.third-section-div li::before{
    box-sizing: border-box;
    content: '\2714';
    font-size: 14px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 12px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #2FAB73;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

/*fourth-section*/

.fourth-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourth-section-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fourth-section-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
 }
.fourth-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 760px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
}
.fourth-section-container-selected{
    border: 2px solid #F53838;
}
.fourth-section-container-image{
    margin-top: 79.63px;
    width: 144.9px;
    height: 165.37px;
}
.fourth-section-container li{
    padding-inline-start: 25.8px;
    margin-bottom: 10px;
    list-style-image: url("resources/icons/li-2.svg");
}
.plan-button{
    border: 2px solid #F53838;
    width: 177.88px;
    height: 45px;
    margin-bottom: 50px;
}
.plan-button-selected{
    background: #F53838;
    color: #FFFFFF;
    box-shadow: 0px 20px 102px 0px rgba(245, 56, 56, 0.35);
}
.fourth-section-title{
    width: 383.41px;
    height: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}
.fourth-section-content{
    width: 555px;
    height: 60px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-top: 20px;
}
.plan-div{
    display: flex;
    flex-direction: column;
}
.plan-title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    text-align: center;
}
.plan-cost{
    margin-bottom: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}
.gray-span {
    color: #4F5665;
    font-weight: 500;
}